body{
	margin: 0;
	padding: 0;
}

.weather-box{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;

	.location-here{
		background-image: url(../img/day.png);
		display: none;
	}
	
	.location-chosen{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: url(../img/night.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
		height: 100vh;
	}
}
